<p id="notice"><%= notice %></p>

<h1>Listing Associate Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Associate</th>
      <th>Contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associate_contracts.each do |associate_contract| %>
      <tr>
        <td><%= associate_contract.associate_id %></td>
        <td><%= associate_contract.contract %></td>
        <td><%= link_to 'Show', associate_contract %></td>
        <td><%= link_to 'Edit', edit_associate_contract_path(associate_contract) %></td>
        <td><%= link_to 'Destroy', associate_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Associate contract', new_associate_contract_path %>
