<p id="notice"><%= notice %></p>

<h1>Listing Project Picons</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Picon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_picons.each do |project_picon| %>
      <tr>
        <td><%= project_picon.project_id %></td>
        <td><%= project_picon.picon %></td>
        <td><%= link_to 'Show', project_picon %></td>
        <td><%= link_to 'Edit', edit_project_picon_path(project_picon) %></td>
        <td><%= link_to 'Destroy', project_picon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project picon', new_project_picon_path %>
