<p id="notice"><%= notice %></p>

<h1>Listing Project Prevcontracts</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Prevcontract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_prevcontracts.each do |project_prevcontract| %>
      <tr>
        <td><%= project_prevcontract.project_id %></td>
        <td><%= project_prevcontract.prevcontract %></td>
        <td><%= link_to 'Show', project_prevcontract %></td>
        <td><%= link_to 'Edit', edit_project_prevcontract_path(project_prevcontract) %></td>
        <td><%= link_to 'Destroy', project_prevcontract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project prevcontract', new_project_prevcontract_path %>
