<%= link_to @associate_direct_deposit.direct_deposit, @associate_direct_deposit.direct_deposit_url, :target => '_blank'  %>
  <%= form_for(@associate_direct_deposit) do |f| %>
    <% if @associate_direct_deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@associate_direct_deposit.errors.count, "error") %> prohibited this associate_direct_deposit from being saved:</h2>

      <ul>
      <% @associate_direct_deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :direct_deposit %><br>
      <%= f.file_field :direct_deposit %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>