<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :project_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
    
    <% if @project_picons.exists? %>
    <%= f.label :project_Icon, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-4">
        <% @project_picons.each do |p| %>
              <div style="margin-left:auto;margin-right:auto;text-align:center;">
                <%= image_tag p.picon_url, :style => 'max-width:90%;max-height:120px;padding:1%;' %>
              </div><br>
              
              
              <div style="margin-left:auto;margin-right:auto;text-align:center;">
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_picon_path(p), :class => 'btn btn-primary', 
                    :title => 'Edit Attachment'  %>
              <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_picon_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Delete Attachment'  %>
              </div>
              
        <% end %>
      </div>
    
    <% else %>  
      <%#= f.fields_for :project_picons do |p| %>
         <%= f.label :project_Icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :picon, :multiple => true, name: "project_picons[picon][]", :class => 'form-control' %>
         </div>
     <%# end %>
    <% end %>
    
     
  </div>

  <div class="form-group">
    
    <%= f.label :street, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :project_street, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_street) %>    
    
    <%= f.label :city, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :project_city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_city) %>
    
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.select :project_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_state) %>

    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.text_field :project_zip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_zip) %>

  </div>
  
  <div class="form-group">
    <%= f.label :client_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :client_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_name) %>
    
    <% if @project_cicons.exists? %>
    <%= f.label :client_Icon, :class => 'control-label col-lg-2'  %>
        <div class="col-lg-4">
          <% @project_cicons.each do |p| %>
          <div style="margin-left:auto;margin-right:auto;text-align:center;">
                <%= image_tag p.cicon_url, :style => 'max-width:90%;max-height:120px;padding:1%;' %>
          </div><br>
                
                <div style="margin-left:auto;margin-right:auto;text-align:center;">
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                      edit_project_cicon_path(p), :class => 'btn btn-primary', 
                      :title => 'Edit Attachment'  %>
                <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                      project_cicon_path(p),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger', :title => 'Delete Attachment'  %>
                </div>
                
          <% end %>
        </div>
    
    <% else %>
    
     <%#= f.fields_for :project_picons do |p| %>
         <%= f.label :client_icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :cicon, :multiple => true, name: "project_cicons[cicon][]", :class => 'form-control' %>
         </div>
     <%# end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select :status, ['Prospect', 'In Process', 'Complete'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  
  <!--
  <div class="prospect_form" style="display: none;">This is the Prospect form.</div>
  <div class="in_process_form" style="display: none;">This is the In Process form.</div>
  <div class="complete_form" style="display: none;">This is the Complete form.</div>
  -->

  
 <script>
    $(document).ready(function(){
      //first checking to see what it is and changing
     if ($('#project_status').val() == "Prospect"){
        $(".prospect_form").show();
     }
     else {
        $(".prospect_form").hide();
     }
     if ($('#project_status').val() == "In Process"){
        $(".in_process_form").show();
     }
     else {
        $(".in_process_form").hide();
     }
     if ($('#project_status').val() == "Complete"){
        $(".complete_form").show();
     }
     else {
        $(".complete_form").hide();
     }
      //end checking to see what it is and changing
      
      //then if the status changes
      $("#project_status").change(function() {
        if ($("#project_status").val()=="Prospect")
          $(".prospect_form").show();
        else
          $(".prospect_form").hide();
      });
      
      $("#project_status").change(function() {
        if ($("#project_status").val()=="In Process")
          $(".in_process_form").show();
        else
          $(".in_process_form").hide();
      });
      
      $("#project_status").change(function() {
        if ($("#project_status").val()=="Complete")
          $(".complete_form").show();
        else
          $(".complete_form").hide();
      });
      //end if the status changes
    });
 </script>
 
  
  
  
  
<div class="prospect_form"> 
    <hr>
    <div class="form-group">
      <%= f.label :client_contact, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :client_contact, :class => 'form-control' %>
      </div>
      <%=f.error_span(:client_contact) %>
    </div>
    <div class="form-group">
      <%= f.label :client_meeting, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :client_meeting, :class => 'form-control' %>
      </div>
      <%=f.error_span(:client_meeting) %>
    </div>
    <div class="form-group">
      <%= f.label :client_proposal, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :client_proposal, :rows => 4, :class => 'form-control' %>
      </div>
      <%=f.error_span(:client_proposal) %>
    </div>
</div>
 
 

<div class="in_process_form">
  <!-- not available during prospect -->
  <hr>
  <div class="form-group">  
    <%= f.label :client_billing, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_billing, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_billing) %>
  </div>
  
  <div class="form-group">  
    <%= f.label :client_street, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :client_street, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_street) %>

    <%= f.label :city, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :client_city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_city) %>

    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.select :client_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_state) %>

    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.text_field :client_zip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_zip) %>
  </div>
  <!-- end not available during prospect -->
</div>





<div class="in_process_form">
  <hr>
  <div class="form-group">
    <%= f.label :project_start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_start, 'data-provide' => 'datepicker', :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_start) %>
  </div>
  
  <div class="form-group">
    <%= f.label :project_finish, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_finish, 'data-provide' => 'datepicker', :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_finish) %>
  </div>
  <hr>
  
  <div class="form-group">
    <%= f.label "Services", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_check_boxes :service_ids, Service.all, :id, :name do |b| %>
          <div class="collection-check-box-altered">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
  </div>
  
    <div class="form-group">
    <%= f.label :deal_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :deal_terms, :class => 'form-control', :placeholder => "Monthly or Hourly..." %>
    </div>
    <%=f.error_span(:deal_terms) %>
  </div>
  
  <div class="form-group">
    <%= f.label :rate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rate) %>
  </div>
  <hr>
  
  <div class="form-group">
    <%= f.label :brief_description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :brief_description, :rows => 4, :class => 'form-control' %>

    </div>
    <%=f.error_span(:brief_description) %>
  </div>

  <div class="form-group">
    <%= f.label :staffing_notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :staffing_notes, :rows => 4, :class => 'form-control' %>

    </div>
    <%=f.error_span(:staffing_notes) %>
  </div>
  
  <div class="form-group">
    <%= f.label :additional_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :additional_terms, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:additional_terms) %>
  </div>
</div>
  
  <hr>
  <div class="form-group">
    <%= f.label :document_links, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :link, :class => 'form-control tag-test' %>
    </div>
    <%=f.error_span(:link) %>
  </div>
  <hr>
  
  <!-- This is what I was using to link the links before tagit
  <script> 
    $('.linkto').each(function(){
     $(this).html( $(this).html().replace(/((http|https|ftp):\/\/[\w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-]*>))/g, '<a href="$1" target="_blank" class="tag-test">$1</a> ') );
    });
  </script> 
  -->

  <script type="text/javascript">
    $(document).ready(function() {
        $(".tag-test").tagit({
        
            // Options
            fieldName: "link",
            //availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
            //autocomplete: {delay: 0, minLength: 2},
            //showAutocompleteOnFocus: false,
            removeConfirmation: false,
            caseSensitive: true,
            allowDuplicates: false,
            allowSpaces: false,
            readOnly: false,
            tagLimit: null,
            singleField: false,
            singleFieldDelimiter: ',',
            singleFieldNode: null,
            tabIndex: null,
            placeholderText: null,
        
            // Events
            onTagClicked: function(event, ui) {
                console.log(ui.tag);
                console.log(ui.tagLabel);
                //window.location = ui.tag;
                window.open(ui.tagLabel);
            },
            onTagLimitExceeded: function(event, ui) {
                console.log(ui.tag);
            }
        
        });

    });
  </script>
  
  <!--
  <div class="form-group">
    <%#= f.label :latitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :latitude, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:latitude) %>
  </div>
  <div class="form-group">
    <%#= f.label :longitude, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :longitude, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:longitude) %>
  </div>
  -->
  
  
  <!-- Commented out, client no longer wanted the associations
  <div class="form-group">
    <%#= f.label "Associates", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%#= f.collection_check_boxes :associate_ids, Associate.all, :id, :name do |b| %>
          <div class="collection-check-box-associates">
            <%#= b.check_box %>
            <%#= b.label %>
          </div>
        <%# end %>
      </div>
  </div>
  -->
  
  <!--
     <%#= f.fields_for :project_picons do |p| %>
       <div class="form-group">
         <%#= p.label :project_Icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%#= p.file_field :picon, :multiple => true, name: "project_picons[picon][]" %>
         </div>
       </div>
     <%# end %>
     
    <%#= f.fields_for :project_cicons do |p| %>
       <div class="form-group">
         <%#= p.label :project_cicon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%#= p.file_field :cicon, :multiple => true, name: "project_cicons[cicon][]" %>
         </div>
       </div>
     <%# end %>
  -->
  
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
