<%- model_class = Project -%>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="new-user-login">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong style="font-size:125%;">Project Database Search</strong></div>
      <div class="panel-body">
    
      <fieldset class="search-field">
        <!--<legend>Search Our Database</legend>-->
        <%= search_form_for @search do |f| %>
          
          <div class="col-lg-3">
            <%= f.label :name_cont, "Search Near:" %>
            <%= f.text_field_tag :searchnear, params[:searchnear], :class => "form-control", :placeholder => "Search Near..."  %>
          </div>
          
          <div class="col-lg-3">
              <%= f.label :name_cont, "Project Name Contains:" %><br>
              <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Search for..." %>
          </div>
          
          <div class="col-lg-3">
              <%= f.label :status_cont, "Project Status:" %><br>
              <%= f.select :status_cont, options_for_select([['Prospect'], ['In Process'], ['Complete']], :selected => @search.status_cont), include_blank: true %>
          </div>
          
          <div class="col-lg-2">
            <div class="actions" style="text-align:right;margin-top:23px;">
              <%= f.submit "Search", :class => "btn btn-primary-branded jicon" %>
              <%= link_to "Clear", request.path, :class => "btn btn-default jicon" %>
            </div>
          </div>
        <% end %>
      </fieldset>
      </div>
    </div>
</div>

<div class="col-lg-3 counts">
  <h1>Projects: <%= @projectscount %></h1>
  <!--<p>Associates Positions Counted: <%#= @associatescount2 %></p>-->
  
  <% if @prospect_count != 0 %>
    <h1>Prospects: <%= @prospect_count %></h1>
  <% end %>
  
  <% if @in_process_count != 0 %>
    <h1>In Process: <%= @in_process_count %></h1>
  <% end %>
  
  <% if @complete_count != 0 %>
    <h1>Complete: <%= @complete_count %></h1>
  <% end %>
  
  <% if (@prospect_count == 0 && @in_process_count == 0 && @complete_count == 0) %>
    <h1>There are no projects matching given criteria.</h1>
  <% end %>
  
  <hr>
      <div>
        <%#= pie_chart Project.group(:status).count %>
        <%= pie_chart Project.group(:status).count, 
        library: {backgroundColor: "none", pieHole: 0.5,
        legend: {position: "none"},
        chartArea:{left:0,top:0,width:'100%',height:200}} %>
      </div>
  
</div>

<div class="col-lg-9" style="margin-bottom:40px;">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
  //var markers = handler.addMarkers(<%#=raw @hash.to_json %>);
  var markers2 = handler.addMarkers(<%=raw @phash.to_json %>);
  
  var searchmarker = handler.addMarkers(<%=raw @searchhash.to_json %>);
  
  //handler.getMap().setZoom(6);
  //handler.map.centerOn(searchmarker[0]);
  
  if (_.isEmpty(searchmarker)){
    handler.bounds.extendWith(markers2);
    handler.fitMapToBounds();   
  }
  else{
    handler.getMap().setZoom(8);
    handler.map.centerOn(searchmarker[0]);
  }
});
</script>





<!--
<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
-->
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%#= model_class.human_attribute_name(:id) %></th>-->
      <th><%= model_class.human_attribute_name(:project_image) %></th>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :status, "Status" %></th>
      <!--<th><%#= model_class.human_attribute_name(:status) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:project_street) %></th>-->
      <th><%= sort_link @search, :project_city, "City" %></th>
      <!--<th><%#= model_class.human_attribute_name(:project_city) %></th>-->
      <th><%= sort_link @search, :project_state, "State" %></th>
      <!--<th><%#= model_class.human_attribute_name(:project_zip) %></th>-->
      <th><%= sort_link @search, :project_start, "Project Start" %></th>
      <th><%= sort_link @search, :project_finish, "Grand Opening" %></th>
      <!--<th><%#= model_class.human_attribute_name(:brief_description) %></th>-->
      <th><%= model_class.human_attribute_name(:services) %></th>
      <!--<th><%#= model_class.human_attribute_name(:staffing_notes) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:deal_terms) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:rate) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:additional_terms) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:latitude) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:longitude) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <!--<td><%#= link_to project.id, project_path(project) %></td>-->
        <td>
          <% project.project_picons.each do |p| %>
            <%= link_to image_tag(p.picon_url, :style => 'max-width:50px;padding:2px;'), project_path(project) %>
          <% end %>
        </td>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.status %></td>
        <!--<td><%#= project.project_street %></td>-->
        <td><%= project.project_city %></td>
        <td><%= project.project_state %></td>
        <!--<td><%#= project.project_zip %></td>-->
        <td><%= project.project_start %></td>
        <td><%= project.project_finish %></td>
        <!--<td><%#= project.brief_description %></td>-->
        <td><% project.services.each do |p| %>
          <%= p.name %> 
          <% end %>
        </td>
        <!--<td><%#= project.staffing_notes %></td>-->
        <!--<td><%#= project.deal_terms %></td>-->
        <!--<td><%#= project.rate %></td>-->
        <!--<td><%#= project.additional_terms %></td>-->
        <!--<td><%#= project.latitude %></td>-->
        <!--<td><%#= project.longitude %></td>-->
        <!--<td><%#=l project.created_at %></td>-->
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      project_path(project), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
