<%- model_class = Project -%>

<!-- left column 1/3 -->
  <div class="col-lg-4">
    <% @project_picons.each do |p| %>
          <%= image_tag p.picon_url, :style => 'max-width:100%;padding:5%;' %>
    <% end %>
    
    <hr>
    
    <% if @project.client_name.length >= 1 %>
      <p style="text-align:center;">Client: <%= @project.client_name %></p>
    <% end %>
    
    <% @project_cicons.each do |p| %>
      <%= image_tag p.cicon_url, :style => 'max-width:100%;padding:5%;' %>
    <% end %>
  </div>
<!-- end left column 1/3 -->

<!-- right column 2/3 -->
  <div class="col-lg-8">
    <div class="show1">
            <%= @project.name %>
            
            <span style="margin-left:40px;">
              <% if @project.status == 'Prospect' %>
                <span style="color:#6991fd"><i class="fa fa-check-square-o" title="Prospect"></i> Prospect</span>
              <% elsif @project.status == 'Complete' %>
                <span style="color:#e661ac"><i class="fa fa-check-square-o" title="Complete"></i> Complete</span>
              <% else %>
                <span style="color:#e78b23"><i class="fa fa-check-square-o" title="In Process"></i> In Process</span>
              <% end %>
            </span>
            
            <% if @project.status == 'Prospect' %>
            <span style="margin-left:40px;" class="prospect_form"><%= @project.phases %></span>
            <% end %>
    </div>

    <% if @project.nbd.length >= 1 %>
      <div class="col-lg-6" style="padding-left:0;">
        <div class="show3">      
            <u><%= model_class.human_attribute_name(:nbd) %></u>:
            <%= @project.nbd %>
        </div>
      </div>
    <% end %>
    
    <% if @services.length >= 1 %>
      <div class="col-lg-6">
        <div class="show3">
              <span>
                Services Provided:
                <% @services.each do |p| %>
                  <%= p.name %> 
                <% end %>
              </span>
        </div>
      </div>
    <% end %>



    <hr style="clear:both;">
    
    <% if @project.brief_description.length >= 1 %>
      <div class="show3">
      <u>Description</u>:  <%#= @project.brief_description %>
      <%= simple_format(@project.brief_description) %>
      </div>
    <% end %>

    <hr style="clear:both;">

<!-- if prospect or in process -->
<% if @project.status == 'Prospect' || @project.status == 'In Process' %>
    <div class="show3">
      <table style="width:100%">
        <tr>    
          <% if @project.project_street.length >= 1 %>
            <td>
              <div class="show3">
                <u>Project location</u>:
              </div>
              <div class="show3">
                <%= @project.name %><br>
                
                <%= @project.project_street %><br>
              
                <%= @project.project_city %>, <%= @project.project_state %> <%= @project.project_zip %>
              </div>
            </td>
          <% end %>
              
          <% if @project.client_billing.length >= 1 %>
            <td>
            <div class="show3">      
                <u><%= model_class.human_attribute_name(:client_billing) %></u>:
            </div>
          
            <div class="show3">      
                <%= @project.client_billing %><br>
                <%= @project.client_street %><br>
                <%= @project.client_city %>,
                <%= @project.client_state %>
                <%= @project.client_zip %>
            </div>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    
          <% if @project.client_billing.length >= 1 || @project.project_street.length >= 1 %>
            <hr>
          <% end %>
<% end %>
<!-- if prospect or in process -->




<!-- if prospect -->  
<% if @project.status == 'Prospect' %>
    <% if @project.client_contact.length >= 1 %>
      <div class="show3">      
          <u><%= model_class.human_attribute_name(:client_contact) %></u>:
          <%= @project.client_contact %>
      </div>
    <% end %>
    
    <% if @project.client_meeting.length >= 1 %>
      <div class="show3">      
          <u><%= model_class.human_attribute_name(:client_meeting) %></u>:
          <%= @project.client_meeting %>
      </div>
    <% end %>

          <% if @project.client_contact.length >= 1 || @project.client_meeting.length >= 1 %>
            <hr>
          <% end %>
<% end %>
<!-- end if prospect -->

<!-- no matter what -->
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Proposal:</strong><br>
  <% if @project_pproposals.exists? %>
      <% @project_pproposals.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pproposal_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pproposal_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pproposal_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Contract:</strong><br>
  <% if @project_pcontracts.exists? %>
      <% @project_pcontracts.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pcontract_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pcontract_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pcontract_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Revised Contract:</strong><br>
  <% if @project_prevcontracts.exists? %>
      <% @project_prevcontracts.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.prevcontract_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_prevcontract_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_prevcontract_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <hr style="clear:both;">
<!-- end no matter what -->

<!-- if in process or complete -->   
<% if @project.status == 'In Process' || @project.status == 'Complete' %>
    <table style="width:100%;">
      <tr>
        <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
        <td>
          <div class="show3">
            <u>Project Start</u>: <%= @project.project_start %><br>
            <u>Grand Opening</u>: <%= @project.project_finish %>
          </div>
        </td>
        <% end %>

        <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
        <td>
        <% finish_parsed_time = Time.strptime(@project.project_finish,"%m/%d/%Y") %>
        <% start_parsed_time = Time.strptime(@project.project_start,"%m/%d/%Y") %>
    
        <div class="show3">
          <u>Project Duration</u>:
        <%= (finish_parsed_time.to_date - start_parsed_time.to_date).to_i %> days
        </div>
        
        </td>
        <% end %>
      </tr>
    </table>

          <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
            <hr>
          <% end %>
<% end %>
<!-- end if in process or complete -->    

<!-- if in process or complete -->  
<% if @project.status == 'In Process' || @project.status == 'Complete' %>
  <% if @project.deal_terms.length >= 1 || @project.rate.length >= 1 %>
    <div class="show3">  
        <u><%= model_class.human_attribute_name(:rate) %></u>:
        <%= @project.rate %>
    
        <u style="margin-left:40px;"><%= model_class.human_attribute_name(:deal_terms) %></u>: 
        <%= @project.deal_terms %>
        
        <% if @project.status == 'Complete' %>
        <u style="margin-left:40px;"><%= model_class.human_attribute_name(:grand_total) %></u>: 
        <%= @project.grand_total %>
        <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
<!-- end if in process or complete -->

<% if @project.status == 'In Process' %>  
  <% if @project.additional_terms.length >= 1 %>
    <div class="show3">      
        <u><%= model_class.human_attribute_name(:additional_terms) %></u>:
        <%#= @project.additional_terms %>
        <%= simple_format(@project.additional_terms) %>
    </div>
  <% end %>
  
  <% if @project.staffing_notes.length >= 1 %>
    <div class="show3">
        <u><%= model_class.human_attribute_name(:staffing_notes) %></u>:
        <%#= @project.staffing_notes %>
        <%= simple_format(@project.staffing_notes) %>
    </div>
  <% end %>
  
<hr>
<% end %>
<!-- end if in process -->


<!-- if in process or complete -->  
<% if @project.status == 'In Process' || @project.status == 'Complete' %>
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Invoices:</strong><br>
  <% if @project_invoices.exists? %>
      <% @project_invoices.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.invoice_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_invoice_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_invoice_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project W9:</strong><br>
  <% if @project_pw9s.exists? %>
      <% @project_pw9s.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pw9_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pw9_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pw9_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Documents:</strong><br>
  <% if @project_pdocuments.exists? %>
      <% @project_pdocuments.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pdocument_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pdocument_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pdocument_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>

  <hr style="clear:both;">

<% end %>
<!-- end if in process or complete -->  



  

    
  <% if @project.link.length >= 1 %>
    <%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>
        <div class="show3">
          <%= model_class.human_attribute_name(:document_links) %>:
          <%= f.text_field :link, :class => 'form-control add-tags' %>
        </div>
    <% end %>
  <% end %>

    
    
        <!-- Lat and long stuff - will potentially need for checking geocoder creations -->
        <!--
        <%#= model_class.human_attribute_name(:latitude) %>:
        <%#= @project.latitude %><br>
        <%#= model_class.human_attribute_name(:longitude) %>:
        <%#= @project.longitude %><br><br>
        -->
        <!-- END Lat and long stuff - will potentially need for checking geocoder creations -->
        
        
    <!-- commented out associations between projects and associates
    <div class="show3">    
        <%#= model_class.human_attribute_name(:associates) %>:  
          <%# @associates.each do |associate| %>
            <dd><%#= link_to associate.name, associate_path(associate) %></dd>
          <%# end %>
    </div>
    -->
    
  </div>
<!-- end right column 2/3 -->



<div class="col-lg-12" style="text-align:center;">
  <hr>
    <%= link_to '<i class="fa fa-chevron-left"></i>'.html_safe,
                  projects_path, :class => 'btn btn-default',
                  :title => 'Back to Projects' %>
    <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                  edit_project_path(@project), :class => 'btn btn-primary', 
                  :title => 'Edit Project'  %>
    <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                  project_path(@project),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger', :title => 'Delete Project' %>
  <hr>
</div>


<!-- originals -->
<%#= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<!-- originals -->

     <script type="text/javascript">
      $(document).ready(function() {
          $(".add-tags").tagit({
          
              // Options
              readOnly: true,
   
              // Events
              onTagClicked: function(event, ui) {
                  console.log(ui.tag);
                  console.log(ui.tagLabel);
                  //window.location = ui.tag;
                  window.open(ui.tagLabel);
              },
              onTagLimitExceeded: function(event, ui) {
                  console.log(ui.tag);
              }
          
          });
  
      });
    </script> 