<%= form_for @associate, :html => { :class => "form-horizontal associate" } do |f| %>

  <% if @associate.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@associate.errors.count, "error") %> prohibited this associate from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @associate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%=f.error_span(:name) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :phone_primary, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_primary, :class => 'form-control' %>
      <%=f.error_span(:phone_primary) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :phone_cell, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_cell, :class => 'form-control' %>
      <%=f.error_span(:phone_cell) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
      <%=f.error_span(:email) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :email_personal, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email_personal, :class => 'form-control' %>
      <%=f.error_span(:email_personal) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :primary_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :primary_street, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :primary_city, :class => 'form-control' %>
    </div>
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :primary_state, :class => 'form-control' %>
    </div>
    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :primary_zip, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :business_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :business_street, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :business_city, :class => 'form-control' %>
    </div>
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :business_state, :class => 'form-control' %>
    </div>
    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :business_zip, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :project_history, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_history, :class => 'form-control' %>
      <%=f.error_span(:project_history) %>
    </div>
  </div>
  
      <div class="form-group">
        <%= f.label "Positions", :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.collection_check_boxes :position_ids, Position.all, :id, :pos_name do |b| %>
              <div class="collection-check-box-altered">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
      </div>
  


  
  <div class="form-group">
    <%= f.label "Working Locations", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_check_boxes :wrkloc_ids, Wrkloc.all, :id, :wrkstate do |b| %>
          <div class="collection-check-box-altered">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
  </div>
  
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :notes, :rows => 4, :class => 'form-control' %>
      <%=f.error_span(:notes) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :active, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.check_box :active, checked: true, :class => 'form-control check-align-left' %>
      <%=f.error_span(:active) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :ein_ss, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ein_ss, :class => 'form-control' %>
      <%=f.error_span(:ein_ss) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :birthday, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :birthday, 'data-provide' => 'datepicker', :class => 'form-control' %>
      <%=f.error_span(:birthday) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :family, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :family, :class => 'form-control' %>
      <%=f.error_span(:family) %>
    </div>
  </div>

    
     <%= f.fields_for :associate_attachments do |p| %>
       <div class="form-group">
         <%= p.label :associate_image, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= p.file_field :avatar, :multiple => true, name: "associate_attachments[avatar][]" %>
         </div>
       </div>
     <% end %>
     
    <%= f.fields_for :associate_resumes do |p| %>
       <div class="form-group">
         <%= p.label :resume, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= p.file_field :resume, :multiple => true, name: "associate_resumes[resume][]" %>
         </div>
       </div>
     <% end %>
     
    <%= f.fields_for :associate_gresumes do |p| %>
       <div class="form-group">
         <%= p.label :greeby_resume, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= p.file_field :gresume, :multiple => true, name: "associate_gresumes[gresume][]" %>
         </div>
       </div>
    <% end %>
    
    <%= f.fields_for :associate_contracts do |p| %>
       <div class="form-group">
         <%= p.label :contract, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= p.file_field :contract, :multiple => true, name: "associate_contracts[contract][]" %>
         </div>
       </div>
     <% end %>
     
    <%= f.fields_for :associate_w9s do |p| %>
       <div class="form-group">
         <%= p.label :w9, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= p.file_field :w9, :multiple => true, name: "associate_w9s[w9][]" %>
         </div>
       </div>
     <% end %>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                associates_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
