<%- model_class = Associate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @associate.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_primary) %>:</strong></dt>
  <dd><%= @associate.phone_primary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_cell) %>:</strong></dt>
  <dd><%= @associate.phone_cell %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @associate.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_personal) %>:</strong></dt>
  <dd><%= @associate.email_personal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_home) %>:</strong></dt>
  <dd><%= @associate.address_home %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_business) %>:</strong></dt>
  <dd><%= @associate.address_business %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_history) %>:</strong></dt>
  <dd><%= @associate.project_history %></dd>
  <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
  <dd><%= @associate.position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:working_locations) %>:</strong></dt>
  <dd><%= @associate.working_locations %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @associate.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @associate.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ein_ss) %>:</strong></dt>
  <dd><%= @associate.ein_ss %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @associate.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:family) %>:</strong></dt>
  <dd><%= @associate.family %></dd>
  
  <% @associate_attachments.each do |p| %>
    <dt>Avatar:</dt>
    <dd><%= image_tag p.avatar_url, :style => 'max-width:300px;padding:20px;' %><br>
        <%#= link_to "Edit Attachment", edit_associate_attachment_path(p) %><br>
        <%= link_to t('.edit', :default => t("Edit Attachment")),
              edit_associate_attachment_path(p), :class => 'btn btn-default' %>
        <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
        <%= link_to t('.destroy', :default => t("Destroy Attachment")),
              associate_attachment_path(p),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        </dd>
  <% end %>
  
  <% @associate_resumes.each do |p| %>
    <dt>Resume:</dt>
    <dd><%= link_to p.resume_url, p.resume_url, :target => '_blank' %><br>
        <%#= link_to "Edit Attachment", edit_associate_attachment_path(p) %><br>
        <%= link_to t('.edit', :default => t("Edit Attachment")),
              edit_associate_resume_path(p), :class => 'btn btn-default' %>
        <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
        <%= link_to t('.destroy', :default => t("Destroy Attachment")),
              associate_resume_path(p),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        </dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              associates_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_associate_path(@associate), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              associate_path(@associate),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
